@model OperationSearchTourModel
@{
    ViewData["Title"] = "Turları Ara";
    var userGorev = Context.Session.GetString("UserRole");
    var userId = Context.Session.GetInt32("UserId");
    var userName = Context.Session.GetString("UserName") + " " + Context.Session.GetString("UserSurname");
    var subeId = Context.Session.GetInt32("SubeId");
    var subeName = Context.Session.GetString("SubeName");
}
<style>
    #TourSearchTable {
        width: 100%;
        border-collapse: collapse;
    }

        #TourSearchTable th {
            background-color: black;
            color: white;
            border: 1px solid white;
        }

        #TourSearchTable td {
            border: 1px solid black;
        }

        #TourSearchTable tr:nth-child(even) {
            background-color: antiquewhite;
        }

        #TourSearchTable td,
        #TourSearchTable th {
            padding: 1em;
        }

    #BottomTable {
        width: 100%;
        border-collapse: collapse;
        position: relative;
    }

        #BottomTable td {
            border: 1px solid white;
            padding: 1em;
            background-color: black;
            color: white;
        }

    #Window {
        position: fixed;
        width: 97%;
        height: 70%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: aliceblue;
        border: 1px solid black;
        display: none;
    }

    #TourDetailsTable {
        width: 100%;
        border-collapse: collapse;
    }

        #TourDetailsTable th {
            background-color: black;
            color: white;
            border: 1px solid white;
        }

        #TourDetailsTable td {
            border: 1px solid black;
        }

        #TourDetailsTable tr:nth-child(even) {
            background-color: aliceblue;
        }

    #KurTable {
        width: 10%;
        border-collapse: collapse;
    }

        #KurTable th {
            background-color: black;
            color: white;
            border: 1px solid white;
        }

        #KurTable td {
            border: 1px solid black;
        }

    #ToplamTable {
        width: 20%;
        border-collapse: collapse;
    }

        #ToplamTable th {
            background-color: black;
            color: white;
            border: 1px solid white;
        }

        #ToplamTable td {
            border: 1px solid black;
        }

    #AyriTable {
        width: 20%;
        border-collapse: collapse;
    }

        #AyriTable th {
            background-color: black;
            color: white;
            border: 1px solid white;
        }

        #AyriTable td {
            border: 1px solid black;
        }
</style>
<div>
    <div style="padding-bottom:2em; display:flex; flex-direction:row; gap: 1em;">
        <p>Tur Adı:</p>
        <input type="text" id="TourNameSearch" name="TourNameSearch" placeholder="Tur Adı Arayın..." />
        <p>Tur Tarihi:</p>
        <input type="date" id="TourDateSearch" name="TourDateSearch" />
        <p>Tur Bitti Mi:</p>
        <input type="checkbox" id="TourFinishedCheck" name="TourFinishedCheck" />
        <p>Tur iptal mi:</p>
        <input type="checkbox" id="TourCancelledCheck" name="TourCancelledCheck" />
        <button id="SearchTourButton">Ara</button>
    </div>
    
    <table id="TourSearchTable">
        <thead>
            <tr>
                <th style="width:15%">Tarih</th>
                <th style="width:45%">Tur Adı</th>
                <th style="width:5%">Bitti Mi</th>
                <th style="width:5%">İptal Mi</th>
                <th style="width:5%">F</th>
                <th style="width:5%">H</th>
                <th style="width:5%">G</th>
                <th style="width:5%">T</th>
                <th style="width:10%"></th>
            </tr>
        </thead>
        <tbody>
            <!-- Rows will be filled with data later -->
        </tbody>
    </table>
    <table id="BottomTable">
        <tr>
            <td style="width: 70%;">Toplam</td>
            <td id="TfBox" style="width: 5%;"></td>
            <td id="ThBox" style="width: 5%;"></td>
            <td id="TgBox" style="width: 5%;"></td>
            <td id="TtBox" style="width: 5%;"></td>
            <td style="width:10%"></td>
        </tr>
    </table>
</div>
<div id="Window">
    <div>
        <button id="CloseWindow" style="float:right">Kapat</button>
    </div>
    <div style="padding-bottom:1em">
        <table id="TourDetailsTable">
            <thead>
                <tr>
                    <th style="width:10%">Ad</th>
                    <th style="width:9%">Uyruk</th>
                    <th style="width:8%">Bölge</th>
                    <th style="width:8%">Otel</th>
                    <th style="width:5%">Oda</th>
                    <th style="width:3%">F</th>
                    <th style="width:3%">H</th>
                    <th style="width:3%">G</th>
                    <th style="width:6%">Para Birimi</th>
                    <th style="width:6%">Paid</th>
                    <th style="width:6%">Rest</th>
                    <th style="width:6%">Total</th>
                    <th style="width:6%">Servis</th>
                    <th style="width:7%">Servis Saati</th>
                    <th style="width:10%">Pas Şirketi</th>
                </tr>
            </thead>
            <tbody>
                <!-- Javascript ile doldur -->
            </tbody>
        </table>
    </div>
    <div>

        <div style="width:100%; display:flex; flex-direction:row; gap:1em">
            <table id="KurTable">
                <thead>
                    <tr>
                        <th>Kur</th>
                        <th>TRY</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="background-color:black; color:white">USD</td>
                        <td id="UsdToTryBox"></td>
                    </tr>
                    <tr>
                        <td style="background-color:black; color:white">EUR</td>
                        <td id ="EurToTryBox"></td>
                    </tr>
                </tbody>
            </table>
            <table id="AyriTable">
                <thead>
                    <tr>
                        <th>Ayri</th>
                        <th>Total</th>
                        <th>PAID</th>
                        <th>REST</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- javascript ile doldur -->
                </tbody>
            </table>
            <table id="ToplamTable">
                <thead>
                    <tr>
                        <th>Toplam</th>
                        <th>Total</th>
                        <th>PAID</th>
                        <th>REST</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- javascript ile doldur -->
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        let turTipiListArray = @Html.Raw(Json.Serialize(Model.TurTipiList.Select(tu => new { tu.Id, tu.TurTipiAdi })));
        let turListArray = @Html.Raw(Json.Serialize(Model.TurList.Select(t => new { t.Id, t.Tarih, t.TurTipiId, t.BittiMi, t.TurIptalMi })));
        let biletListArray = @Html.Raw(Json.Serialize(Model.BiletList.Select(b => new { b.Id, b.TurId, b.MusteriAd, b.MusteriSoyad, b.MusteriUyruk, b.MusteriBolgeId, b.MusteriOtelId, b.MusteriOdaNo, b.FullSayi, b.HalfSayi, b.GuestSayi, b.ParaBirimi, b.Paid, b.Rest, b.ServisIstiyorMu, b.ServisSaati })));
        let bolgeListArray = @Html.Raw(Json.Serialize(Model.BolgeList.Select(bo => new { bo.Id, bo.BolgeIsim, bo.BolgeMerkezeUzaklikMetre })));
        let otelListArray = @Html.Raw(Json.Serialize(Model.OtelList.Select(o => new { o.Id, o.OtelIsim, o.OtelMerkezeUzaklikMetre })));
        let paraBirimiListArray = @Html.Raw(Json.Serialize(Model.ParaBirimiList.Select(p => new { p.Iso4217, p.ParaBirimiAdi })));
        let uyrukListArray = @Html.Raw(Json.Serialize(Model.UyrukList.Select(u => new { u.Alpha3Code, u.UlkeIsmi })));
        let kurListArray = @Html.Raw(Json.Serialize(Model.KurList.Select(p => new { p.Tarih, p.ParaBirimiAdi, p.DolaraOran, p.EuroyaOran })));
        console.log("turTipiListArray:",turTipiListArray);
        console.log("turListArray:",turListArray);
        console.log("biletListArray:",biletListArray);
        console.log("bolgeListArray:",bolgeListArray);
        console.log("otelListArray:",otelListArray);
        console.log("paraBirimiListArray:",paraBirimiListArray);
        console.log("uyrukListArray:",uyrukListArray);
        console.log("kurListArray:",kurListArray);

        let tourName = "";
        let tourDate;

        let fTotal;
        let hTotal;
        let gTotal;

        let bottomFTotal;
        let bottomHTotal;
        let bottomGTotal;

        //Ara butonuna tıklayınca
        document.getElementById("SearchTourButton").addEventListener("click", function () {
            
            //Yazılan ad ve seçilen tarihi kaydet
            tourName = document.getElementById("TourNameSearch").value;
            tourDate = document.getElementById("TourDateSearch").value;
            tourEnded = document.getElementById("TourFinishedCheck").checked;
            tourCancelled = document.getElementById("TourCancelledCheck").checked;
            let tourNameArray = tourName.toLowerCase().split(" ");

            //Tur ve Tur Tipi arraylerini filtrele
            let turTipiArray = [];
            let turBittiMiArray = [];
            let turTarihArray = [];
            let turIptalArray = [];
            let turArray = [];
            for (let i = 0; i < turTipiListArray.length; i++) {
                let turAdi = turTipiListArray[i].turTipiAdi.toLowerCase();
                if (tourNameArray.every(tna => turAdi.includes(tna))) {
                    turTipiArray.push(turTipiListArray[i]);
                }
            }
            console.log("turTipiArray:",turTipiArray);
            for (let i = 0; i < turListArray.length; i++) {
                let tur = turListArray[i];
                if (tur.bittiMi === tourEnded) {
                    turBittiMiArray.push(tur);
                }
            }
            console.log("turBittiMiArray:",turBittiMiArray);
            for (let i = 0; i < turBittiMiArray.length; i++) {
                let tur = turBittiMiArray[i];
                if (tur.turIptalMi === tourCancelled) {
                    turIptalArray.push(tur);
                }
            }
            console.log("turIptalArray:",turIptalArray);
            if (tourDate !== "") {
                for (let i = 0; i < turIptalArray.length; i++) {
                    let tur = turIptalArray[i];
                    console.log("tur.tarih:",tur.tarih)
                    if (tur.tarih === tourDate) {
                        turTarihArray.push(tur);
                    }
                }
            }
            else{
                turTarihArray = turIptalArray;
            }
            console.log("turTarihArray:",turTarihArray);
            for (let i = 0; i < turTarihArray.length; i++) {
                let tur = turTarihArray[i];
                if (turTipiArray.some(tt => tt.id === tur.turTipiId)) {
                    turArray.push(tur);
                }
            }
            console.log("turArray:",turArray);
            // Tabloyu temizle
            let tableBody = document.querySelector("#TourSearchTable tbody");
            tableBody.innerHTML = "";
            document.getElementById("TfBox").textContent = "";
            document.getElementById("ThBox").textContent = "";
            document.getElementById("TgBox").textContent = "";
            document.getElementById("TtBox").textContent = "";
            bottomFTotal = 0;
            bottomHTotal = 0;
            bottomGTotal = 0;

            // Tabloyu doldur
            for (let i = 0; i < turArray.length; i++) {
                let tur = turArray[i];
                let turTipi = turTipiArray.find(tt => tt.id === tur.turTipiId);
                let biletArray = biletListArray.filter(bi => bi.turId === tur.id);
                console.log("tur-turTipi-bilet:");
                console.log(tur);
                console.log(turTipi);
                console.log(biletArray);

                fTotal = 0;
                hTotal = 0;
                gTotal = 0;

                for (let j = 0; j < biletArray.length; j++) {
                    console.log("BiletArray:");
                    console.log(biletArray[j]);
                    fTotal += biletArray[j].fullSayi;
                    hTotal += biletArray[j].halfSayi;
                    gTotal += biletArray[j].guestSayi;
                }
                console.log("Totaller:");
                console.log(fTotal);
                console.log(hTotal);
                console.log(gTotal);

                let row = document.createElement("tr");

                let tarihCell = document.createElement("td");
                tarihCell.textContent = tur.tarih;
                row.appendChild(tarihCell);

                let turAdiCell = document.createElement("td");
                turAdiCell.textContent = turTipi.turTipiAdi;
                row.appendChild(turAdiCell);

                let bittiMiCell = document.createElement("td");
                if (tur.bittiMi) {
                    bittiMiCell.textContent = "Evet";
                }
                else {
                    bittiMiCell.textContent = "Hayır";
                }
                row.appendChild(bittiMiCell);

                let iptalMiCell = document.createElement("td");
                if (tur.turIptalMi) {
                    iptalMiCell.textContent = "Evet";
                }
                else {
                    iptalMiCell.textContent = "Hayır";
                }
                row.appendChild(iptalMiCell);

                let fCell = document.createElement("td");
                fCell.textContent = fTotal;
                row.appendChild(fCell);

                let hCell = document.createElement("td");
                hCell.textContent = hTotal;
                row.appendChild(hCell);

                let gCell = document.createElement("td");
                gCell.textContent = gTotal;
                row.appendChild(gCell);

                let tCell = document.createElement("td");
                tCell.textContent = fTotal+hTotal+gTotal;
                row.appendChild(tCell);

                //Detay butonlarını oluştur
                let detailsCell = document.createElement("td");
                let detailsButton = document.createElement("button");
                detailsButton.id = "DetailsButton" + tur.id;
                detailsButton.textContent = "Detaylar";
                //Detay butonlarına fonksiyon ata
                detailsButton.addEventListener("click", function(turObject) {
                    return function() {
                        console.log(turObject);
                        let biletDetailArray = [];
                        for (let l = 0; l < biletListArray.length; l++){
                            let bilet = biletListArray[l];
                            if (bilet.turId === turObject.id && bilet.servisIstiyorMu === true){
                                biletDetailArray.push(bilet);
                            }
                        }
                        console.log("biletDetailArray:",biletDetailArray);
                        
                        //Detay tablolarını temizle
                        let tourDetailsTableBody = document.querySelector("#TourDetailsTable tbody");
                        tourDetailsTableBody.innerHTML = "";
                        let ayriTableBody = document.querySelector("#AyriTable tbody");
                        ayriTableBody.innerHTML = "";
                        let topTableBody = document.querySelector("#ToplamTable tbody");
                        topTableBody.innerHTML = "";

                        let ayriTryPaid = 0;
                        let ayriTryRest = 0;
                        let ayriUsdPaid = 0;
                        let ayriUsdRest = 0;
                        let ayriEurPaid = 0;
                        let ayriEurRest = 0;

                        for (s=0; s<biletDetailArray.length; s++){
                            let biletDetail = biletDetailArray[s];
                            let biletBolgeId = bolgeListArray.find(bo => bo.id === biletDetail.musteriBolgeId);
                            console.log("biletBolgeId:",biletBolgeId);
                            let biletOtelId = otelListArray.find(o => o.id === biletDetail.musteriOtelId);
                            console.log("biletOtelId:",biletOtelId);
                            if (biletBolgeId !== undefined){
                                biletDetail.bolgeMerkezeUzaklikMetre = biletBolgeId.bolgeMerkezeUzaklikMetre;
                            }
                            if (biletOtelId !== undefined){
                                biletDetail.otelMerkezeUzaklikMetre = biletOtelId.otelMerkezeUzaklikMetre;
                            }
                        }
                        console.log("biletDetailArray:",biletDetailArray);
                        biletDetailArray.sort((a,b) => {
                                if(a.bolgeMerkezeUzaklik === b.bolgeMerkezeUzaklik){
                                    return(a.otelMerkezeUzaklikMetre - b.otelMerkezeUzaklikMetre);
                                }
                                return(a.bolgeMerkezeUzaklikMetre - b.bolgeMerkezeUzaklikMetre);
                            });


                        //Detay tablosunu doldur
                        for (let m=0; m<biletDetailArray.length; m++){
                            let biletDetail = biletDetailArray[m];
                            console.log("biletDetail:",biletDetail);
                            
                            let detailRow = document.createElement("tr");

                            let adSoyadCell = document.createElement("td");
                            adSoyadCell.textContent = biletDetail.musteriAd + " " + biletDetail.musteriSoyad;
                            detailRow.appendChild(adSoyadCell);

                            let uyrukCell = document.createElement("td");
                            let uyruk = uyrukListArray.find(u => u.alpha3Code === biletDetail.musteriUyruk);
                            uyrukCell.textContent = uyruk.ulkeIsmi;
                            detailRow.appendChild(uyrukCell);

                            let bolgeCell = document.createElement("td");
                            let bolge = bolgeListArray.find(bo => bo.id === biletDetail.musteriBolgeId);
                            bolgeCell.textContent = bolge.bolgeIsim;
                            detailRow.appendChild(bolgeCell);

                            let otelCell = document.createElement("td");
                            let otel;
                            if (biletDetail.musteriOtelId === null){
                                otel = {otelIsim: ""};
                            }
                            else{
                                otel = otelListArray.find(o => o.id === biletDetail.musteriOtelId);
                            }
                            otelCell.textContent = otel.otelIsim;
                            detailRow.appendChild(otelCell);

                            let odaCell = document.createElement("td");
                            odaCell.textContent = biletDetail.musteriOdaNo;
                            detailRow.appendChild(odaCell);
                            
                            let fCell = document.createElement("td");
                            fCell.textContent = biletDetail.fullSayi;
                            detailRow.appendChild(fCell);

                            let hCell = document.createElement("td");
                            hCell.textContent = biletDetail.halfSayi;
                            detailRow.appendChild(hCell);

                            let gCell = document.createElement("td");
                            gCell.textContent = biletDetail.guestSayi;
                            detailRow.appendChild(gCell);

                            let paraBirimiCell = document.createElement("td");
                            paraBirimiCell.textContent = biletDetail.paraBirimi;
                            detailRow.appendChild(paraBirimiCell);

                            let paidCell = document.createElement("td");
                            paidCell.textContent = biletDetail.paid;
                            detailRow.appendChild(paidCell);

                            let restCell = document.createElement("td");
                            restCell.textContent = biletDetail.rest;
                            detailRow.appendChild(restCell);

                            let totalCell = document.createElement("td");
                            totalCell.textContent = biletDetail.fullSayi + biletDetail.halfSayi + biletDetail.guestSayi;
                            detailRow.appendChild(totalCell);

                            let servisCell = document.createElement("td");
                            if (biletDetail.servisIstiyorMu){
                                servisCell.textContent = "Evet";
                            }
                            else{
                                servisCell.textContent = "Hayır";
                            }
                            detailRow.appendChild(servisCell);

                            let servisSaatiCell = document.createElement("td");
                            servisSaatiCell.textContent = biletDetail.servisSaati;
                            detailRow.appendChild(servisSaatiCell);

                            let pasSirketiCell = document.createElement("td");
                            pasSirketiCell.textContent = "";
                            detailRow.appendChild(pasSirketiCell);

                            tourDetailsTableBody.appendChild(detailRow);
                            
                            switch (biletDetail.paraBirimi) {
                                case "TRY":
                                    ayriTryPaid += biletDetail.paid;
                                    ayriTryRest += biletDetail.rest;
                                    break;
                                case "USD":
                                    ayriUsdPaid += biletDetail.paid;
                                    ayriUsdRest += biletDetail.rest;
                                    break;
                                case "EUR":
                                    ayriEurPaid += biletDetail.paid;
                                    ayriEurRest += biletDetail.rest;
                                    break;
                            }
                        };

                        //Ayrı Tabloyu Doldur
                        //Ayrı tabloda TRY
                        let ayriTryRow = document.createElement("tr");
                        let ayriTryCell = document.createElement("td");
                        ayriTryCell.textContent = "TRY";
                        ayriTryRow.appendChild(ayriTryCell);
                        let ayriTryTotalCell = document.createElement("td");
                        ayriTryTotalCell.textContent = ayriTryPaid + ayriTryRest;
                        ayriTryRow.appendChild(ayriTryTotalCell);
                        let ayriTryPaidCell = document.createElement("td");
                        ayriTryPaidCell.textContent = ayriTryPaid;
                        ayriTryRow.appendChild(ayriTryPaidCell);
                        let ayriTryRestCell = document.createElement("td");
                        ayriTryRestCell.textContent = ayriTryRest;
                        ayriTryRow.appendChild(ayriTryRestCell);
                        ayriTableBody.appendChild(ayriTryRow);
                        //Ayrı tabloda USD
                        let ayriUsdRow = document.createElement("tr");
                        let ayriUsdCell = document.createElement("td");
                        ayriUsdCell.textContent = "USD";
                        ayriUsdRow.appendChild(ayriUsdCell);
                        let ayriUsdTotalCell = document.createElement("td");
                        ayriUsdTotalCell.textContent = ayriUsdPaid + ayriUsdRest;
                        ayriUsdRow.appendChild(ayriUsdTotalCell);
                        let ayriUsdPaidCell = document.createElement("td");
                        ayriUsdPaidCell.textContent = ayriUsdPaid;
                        ayriUsdRow.appendChild(ayriUsdPaidCell);
                        let ayriUsdRestCell = document.createElement("td");
                        ayriUsdRestCell.textContent = ayriUsdRest;
                        ayriUsdRow.appendChild(ayriUsdRestCell);
                        ayriTableBody.appendChild(ayriUsdRow);
                        //Ayrı tabloda EUR
                        let ayriEurRow = document.createElement("tr");
                        let ayriEurCell = document.createElement("td");
                        ayriEurCell.textContent = "EUR";
                        ayriEurRow.appendChild(ayriEurCell);
                        let ayriEurTotalCell = document.createElement("td");
                        ayriEurTotalCell.textContent = ayriEurPaid + ayriEurRest;
                        ayriEurRow.appendChild(ayriEurTotalCell);
                        let ayriEurPaidCell = document.createElement("td");
                        ayriEurPaidCell.textContent = ayriEurPaid;
                        ayriEurRow.appendChild(ayriEurPaidCell);
                        let ayriEurRestCell = document.createElement("td");
                        ayriEurRestCell.textContent = ayriEurRest;
                        ayriEurRow.appendChild(ayriEurRestCell);
                        ayriTableBody.appendChild(ayriEurRow);

                        //Seçilen tura en yakın tarihteki kuru bul.
                        let closestKur = kurListArray.reduce(function(prev, curr) {
                          let prevDate = new Date(prev.tarih);
                          let currDate = new Date(curr.tarih);
                          let turDate = new Date(turObject.tarih);
                          if (prevDate < turDate && currDate < turDate && prevDate > currDate) {
                            return prev;
                          } else if (prevDate < turDate && currDate < turDate && prevDate < currDate) {
                            return curr;
                          } else {
                            return prev;
                          }
                        });
                        console.log("closestKur:");
                        console.log(closestKur);

                        //Kur tablosunu doldur
                        let usdToTryBox = document.getElementById("UsdToTryBox");
                        let eurToTryBox = document.getElementById("EurToTryBox");
                        usdToTryBox.textContent = (1 / closestKur.dolaraOran).toFixed(2);
                        eurToTryBox.textContent = (1 / closestKur.euroyaOran).toFixed(2);

                        //Toplam tablosunu doldur
                        //Toplamları hesapla
                        let topTryPaid = ayriTryPaid + ayriUsdPaid * (1 / closestKur.dolaraOran) + ayriEurPaid * (1 / closestKur.euroyaOran);
                        let topTryRest = ayriTryRest + ayriUsdRest * (1 / closestKur.dolaraOran) + ayriEurRest * (1 / closestKur.euroyaOran);
                        let topUsdPaid = ayriUsdPaid + ayriTryPaid * closestKur.dolaraOran + ayriEurPaid * (1 / closestKur.euroyaOran) * closestKur.dolaraOran;
                        let topUsdRest = ayriUsdRest + ayriTryRest * closestKur.dolaraOran + ayriEurRest * (1 / closestKur.euroyaOran) * closestKur.dolaraOran;
                        let topEurPaid = ayriEurPaid + ayriTryPaid * closestKur.euroyaOran + ayriUsdPaid * (1 / closestKur.dolaraOran) * closestKur.euroyaOran;
                        let topEurRest = ayriEurRest + ayriTryRest * closestKur.euroyaOran + ayriUsdRest * (1 / closestKur.dolaraOran) * closestKur.euroyaOran;
                        //Toplam Tabloda TRY
                        let topTryRow = document.createElement("tr");
                        let topTryCell = document.createElement("td");
                        topTryCell.textContent = "TRY";
                        topTryRow.appendChild(topTryCell);
                        let topTryTotalCell = document.createElement("td");
                        topTryTotalCell.textContent = (topTryPaid + topTryRest).toFixed(2);
                        topTryRow.appendChild(topTryTotalCell);
                        let topTryPaidCell = document.createElement("td");
                        topTryPaidCell.textContent = (topTryPaid).toFixed(2);
                        topTryRow.appendChild(topTryPaidCell);
                        let topTryRestCell = document.createElement("td");
                        topTryRestCell.textContent = (topTryRest).toFixed(2);
                        topTryRow.appendChild(topTryRestCell);
                        topTableBody.appendChild(topTryRow);
                        //Toplam Tabloda USD
                        let topUsdRow = document.createElement("tr");
                        let topUsdCell = document.createElement("td");
                        topUsdCell.textContent = "USD";
                        topUsdRow.appendChild(topUsdCell);
                        let topUsdTotalCell = document.createElement("td");
                        topUsdTotalCell.textContent = (topUsdPaid + topUsdRest).toFixed(2);
                        topUsdRow.appendChild(topUsdTotalCell);
                        let topUsdPaidCell = document.createElement("td");
                        topUsdPaidCell.textContent = (topUsdPaid).toFixed(2);
                        topUsdRow.appendChild(topUsdPaidCell);
                        let topUsdRestCell = document.createElement("td");
                        topUsdRestCell.textContent = (topUsdRest).toFixed(2);
                        topUsdRow.appendChild(topUsdRestCell);
                        topTableBody.appendChild(topUsdRow);
                        //Toplam Tabloda EUR
                        let topEurRow = document.createElement("tr");
                        let topEurCell = document.createElement("td");
                        topEurCell.textContent = "EUR";
                        topEurRow.appendChild(topEurCell);
                        let topEurTotalCell = document.createElement("td");
                        topEurTotalCell.textContent = (topEurPaid + topEurRest).toFixed(2);
                        topEurRow.appendChild(topEurTotalCell);
                        let topEurPaidCell = document.createElement("td");
                        topEurPaidCell.textContent = (topEurPaid).toFixed(2);
                        topEurRow.appendChild(topEurPaidCell);
                        let topEurRestCell = document.createElement("td");
                        topEurRestCell.textContent = (topEurRest).toFixed(2);
                        topEurRow.appendChild(topEurRestCell);
                        topTableBody.appendChild(topEurRow);

                        //Pencereyi göster.
                        document.getElementById("Window").style.display = "block";
                    };
                }(tur));
                detailsCell.appendChild(detailsButton);
                row.appendChild(detailsCell);

                tableBody.appendChild(row);

                bottomFTotal += fTotal;
                bottomHTotal += hTotal;
                bottomGTotal += gTotal;
            }

            document.getElementById("TfBox").textContent = bottomFTotal;
            document.getElementById("ThBox").textContent = bottomHTotal;
            document.getElementById("TgBox").textContent = bottomGTotal;
            document.getElementById("TtBox").textContent = bottomFTotal + bottomHTotal + bottomGTotal;

        });
        document.getElementById("CloseWindow").addEventListener("click", function () {
            document.getElementById("Window").style.display = "none";
        });
    });
</script>
