@model OperationCreateTourModel
@{
    ViewData["Title"] = "Operasyon Tur Düzenleme";
}

<div id="addtourdiv">
    <div>
        <p>Tarih</p>
        <input type="date" id="Tarih" name="Tarih" placeholder="Tarih" />
    </div>
    <div>
        <p>Saat</p>
        <input type="time" id="Saat" name="Saat" placeholder="Saat" />
    </div>
    <div>
        <p>Tur Tipi</p>
        <select id="TurTipiId" name="TurTipiId">
            <option value="">Seçenek seçin</option>
            @foreach (var tur in Model.TurTipiList)
            {
                <option value="@tur.Id">@tur.TurTipiAdi</option>
            }
        </select>
    </div>
    <div>
        <p>Fiyat</p>
        <input type="number" id="Fiyat" name="Fiyat" placeholder="Fiyat" step="0.01" pattern="\d{1,16}(\.\d{2})?" />
    </div>
    
    <div>
        <p>Arac 1</p>
        <select id="AracId1" name="AracId1">
            <option value="">Seçenek seçin</option>
            @foreach (var arac in Model.AracList.Where(a => a.AracTipiId == 1))
            {
                var aracTipi = Model.AracTipiList.FirstOrDefault(a => a.Id == arac.AracTipiId);
                <option value="@arac.Id">@($"{aracTipi.AracTipiAdi}, {arac.PlakaVeyaIsim}")</option>
            }
        </select>
    </div>
    <div>
        <p>Arac 2</p>
        <select id="AracId2" name="AracId2">
            <option value="">Seçenek seçin</option>
            @foreach (var arac in Model.AracList.Where(a => a.AracTipiId == 1))
            {
                var aracTipi = Model.AracTipiList.FirstOrDefault(a => a.Id == arac.AracTipiId);
                <option value="@arac.Id">@($"{aracTipi.AracTipiAdi}, {arac.PlakaVeyaIsim}")</option>
            }
        </select>
    </div>
    <div>
        <p>Arac 3</p>
        <select id="AracId3" name="AracId3">
            <option value="">Seçenek seçin</option>
            @foreach (var arac in Model.AracList.Where(a => a.AracTipiId == 1))
            {
                var aracTipi = Model.AracTipiList.FirstOrDefault(a => a.Id == arac.AracTipiId);
                <option value="@arac.Id">@($"{aracTipi.AracTipiAdi}, {arac.PlakaVeyaIsim}")</option>
            }
        </select>
    </div>
    <div>
        <p>Arac 4</p>
        <select id="AracId4" name="AracId4">
            <option value="">Seçenek seçin</option>
            @foreach (var arac in Model.AracList.Where(a => a.AracTipiId == 1))
            {
                var aracTipi = Model.AracTipiList.FirstOrDefault(a => a.Id == arac.AracTipiId);
                <option value="@arac.Id">@($"{aracTipi.AracTipiAdi}, {arac.PlakaVeyaIsim}")</option>
            }
        </select>
    </div>
    
    <div>
        <p>Servis 1</p>
        <select id="ServisId1" name="ServisId1">
            <option value="">Seçenek seçin</option>
            @foreach (var arac in Model.AracList.Where(a => a.AracTipiId == 2))
            {
                var aracTipi = Model.AracTipiList.FirstOrDefault(a => a.Id == arac.AracTipiId);
                <option value="@arac.Id">@($"{aracTipi.AracTipiAdi}, {arac.PlakaVeyaIsim}")</option>
            }
        </select>
    </div>
    <div>
        <p>Servis 2</p>
        <select id="ServisId2" name="ServisId2">
            <option value="">Seçenek seçin</option>
            @foreach (var arac in Model.AracList.Where(a => a.AracTipiId == 2))
            {
                var aracTipi = Model.AracTipiList.FirstOrDefault(a => a.Id == arac.AracTipiId);
                <option value="@arac.Id">@($"{aracTipi.AracTipiAdi}, {arac.PlakaVeyaIsim}")</option>
            }
        </select>
    </div>
    <div>
        <p>Servis 3</p>
        <select id="ServisId3" name="ServisId3">
            <option value="">Seçenek seçin</option>
            @foreach (var arac in Model.AracList.Where(a => a.AracTipiId == 2))
            {
                var aracTipi = Model.AracTipiList.FirstOrDefault(a => a.Id == arac.AracTipiId);
                <option value="@arac.Id">@($"{aracTipi.AracTipiAdi}, {arac.PlakaVeyaIsim}")</option>
            }
        </select>
    </div>

    <button type="button" onclick="createTour()">Tur Oluştur</button>
</div>

<script>
    function createTour() {
        var tarih = document.getElementById("Tarih").value;
        var saat = document.getElementById("Saat").value;
        var turTipiId = document.getElementById("TurTipiId").value;
        var fiyat = document.getElementById("Fiyat").value;
        var aracId1 = document.getElementById("AracId1").value;
        var aracId2 = document.getElementById("AracId2").value;
        var aracId3 = document.getElementById("AracId3").value;
        var aracId4 = document.getElementById("AracId4").value;
        var servisId1 = document.getElementById("ServisId1").value;
        var servisId2 = document.getElementById("ServisId2").value;
        var servisId3 = document.getElementById("ServisId3").value;

        

        // Check if certain values are null
        if (tarih && saat && turTipiId && fiyat && aracId1) {
            
            var tourValues = [];
            tourValues.push(tarih);
            tourValues.push(saat);
            tourValues.push(turTipiId);
            tourValues.push(fiyat);
            tourValues.push(aracId1);
            tourValues.push(aracId2);
            tourValues.push(aracId3);
            tourValues.push(aracId4);
            tourValues.push(servisId1);
            tourValues.push(servisId2);
            tourValues.push(servisId3);

            console.log(tourValues);

            sendArrayToController(tourValues);
            
        } else {
            console.log("Please fill in all the required fields.");
        }
    }

    function sendArrayToController(array) {
        $.ajax({
            type: "POST",
            url: "/Home/SendTourDetails", // URL of the controller action
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(array),
            success: function (response) {
                console.log("Data sent successfully:", response);
            },
            error: function (error) {
                console.error("Error sending data:", error);
            }
        });
    }
</script>