@using DataAccessLayer
@model YalcomaniaToursMkfMtr.Models.TicketSearchModel
@{
    ViewData["Title"] = "Biletleri Ara";
    var userGorev = Context.Session.GetString("UserRole");
    Console.WriteLine("userGorev:", userGorev);
    if (userGorev == "Admin")
    {
        userGorev = "Admin";
    }
    var userId = Context.Session.GetInt32("UserId");
    if (userId == null)
    {
        userId = 1;
    }
    var userName = Context.Session.GetString("UserName") + " " + Context.Session.GetString("UserSurname");
    if (userName == " ")
    {
        userName = "Admin";
    }
    var subeId = Context.Session.GetInt32("SubeId");
    if (subeId == null)
    {
        subeId = 1;
    }
    var subeName = Context.Session.GetString("SubeName");
    if (subeName == null)
    {
        subeName = "Merkez Şube";
    }
}
<style>
    #TicketSearchTable {
        border-collapse: collapse;
    }

        #TicketSearchTable th {
            background-color: black;
            color: white;
            border: 1px solid white;
        }

        #TicketSearchTable td {
            border: 1px solid black;
        }

        #TicketSearchTable tr:nth-child(even) {
            background-color: antiquewhite;
        }

        #TicketSearchTable td,
        #TicketSearchTable th {
            padding: 1em;
        }
</style>
<div>
    <!-- AdFiltre - SoyadFiltre - UyrukFiltre - TelNoFiltre -->
    <div style="padding-bottom:1em; display:flex; flex-direction:row; gap: 0.5em;">
        <p>Ad:</p>
        <input type="text" id="AdFiltre" name="AdFiltre" placeholder="Müşteri Adı Arayın..." />
        <p>Soyad:</p>
        <input type="text" id="SoyadFiltre" name="SoyadFiltre" placeholder="Müşteri Soyadı Arayın..." />
        <p>Uyruk:</p>
        <select id="UyrukFiltre">
            <option value="">Filtre Yok</option>
            @foreach(var uyr in Model.UyrukList){
                <option value="@uyr.Alpha3Code">@uyr.UlkeIsmi</option>
            }
        </select>
        <p>Tel. No.:</p>
        <input type="text" id="TelNoFiltre" name="TelNoFiltre" placeholder="Telefon No. Arayın..." />
    </div>
    
    <!-- BolgeFiltre - OtelFiltre - ParaBirFiltre -->
    <div style="padding-bottom:1em; display:flex; flex-direction:row; gap: 0.5em;">
        <p>Bölge:</p>
        <select id="BolgeFiltre">
            <option value="">Filtre Yok</option>
            @foreach (var bolge in Model.BolgeList)
            {
                <option value="@bolge.Id">@bolge.BolgeIsim</option>
            }
        </select>
        <p>Otel:</p>
        <select id="OtelFiltre">
            <!-- Javascript ile doldur -->
        </select>
        <p>Para Birimi:</p>
        <select id="ParaBirFiltre">
            <option value="">Filtre Yok</option>
            @foreach (var para in Model.ParaBirimiList)
            {
                <option value="@para.Iso4217">@para.ParaBirimiAdi</option>
            }
        </select>
    </div>
    
    <!-- SatanSubFiltre - SatanElFiltre - TurTipiFiltre - TurTarihFiltre - BittiFiltre - IptalFiltre - SearchTicketButton -->
    <div style="padding-bottom:2em; display:flex; flex-direction:row; gap: 0.5em;">
        <p>Satan Şube:</p>
        <select id="SatanSubFiltre">
            @{
                if (userGorev == "Admin" || userGorev == "VeriGiris")
                {
                    <option value="">Filtre Yok</option>
                    foreach (var sube in Model.SubeList)
                    {
                           
                    <option value="@sube.Id">@sube.SubeAd</option>
                    }
                }
                else
                {
                    <option value="@subeId">@subeName</option>
                }

            }
        </select>
        <p>Satan Eleman:</p>
        <select id="SatanElFiltre">
            @if (userGorev == "BiletSatis")
            {
                <option value="@userId">@userName</option>
            }
            <!-- Javascript ile doldur -->
        </select>
        <p>Tur Tipi:</p>
        <select id="TurTipiFiltre">
            <option value="">Filtre Yok</option>
            @foreach(var turTip in Model.TurTipiList)
            {
                <option value="@turTip.Id">@turTip.TurTipiAdi</option>
            }
        </select>
        <p>Tur Tarihi:</p>
        <input type="date" id="TurTarihFiltre" name="TurTarihFiltre" />
        <p>Tur Bitti Mi:</p>
        <input type="checkbox" id="BittiFiltre" name="BittiFiltre" />
        <p>Bilet İptal Mi:</p>
        <input type="checkbox" id="IptalFiltre" name="IptalFiltre" />
        <button id="SearchTicketButton">Ara</button>
    </div>

    <!-- TicketSearchTable -->
    <div style="overflow-x: auto; /* Added overflow-x property */">
        <table id="TicketSearchTable">
            <thead>
                <tr>
                    <th style="width:10%">Satan Şube</th>
                    <th style="width:10%">Satan Eleman</th>
                    <th style="width:10%">Tur Tarihi</th>
                    <th style="width:15%">Tur</th>
                    <th style="width:20%">Müşteri Adı-Soyadı</th>
                    <th style="width:10%">Uyruk</th>
                    <th style="width:10%">Tel. No.</th>
                    <th style="width:10%">Bölge</th>
                    <th style="width:10%">Otel</th>
                    <th style="width:5%">F</th>
                    <th style="width:5%">H</th>
                    <th style="width:5%">G</th>
                    <th style="width:5%">Para Birimi</th>
                    <th style="width:5%">PAID</th>
                    <th style="width:5%">REST</th>
                    <th style="width:5%">Ödendi Mi</th>
                    <th style="width:5%">Bitti Mi</th>
                    <th style="width:5%">İptal Mi</th>
                    <th style="width:10%"></th>
                </tr>
            </thead>
            <tbody>
                <!-- Rows will be filled with data later -->
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        // #region Listleri oluştur
        let turList = @Html.Raw(Json.Serialize(Model.TurList.Select(t => new { t.Id, t.Tarih, t.TurTipiId, t.BittiMi })));
        let turTipiList = @Html.Raw(Json.Serialize(Model.TurTipiList.Select(tu => new { tu.Id, tu.TurTipiAdi })));
        let subeList = @Html.Raw(Json.Serialize(Model.SubeList.Select(s => new { s.Id, s.SubeAd })));
        let calisanList = @Html.Raw(Json.Serialize(Model.CalisanList.Select(c => new { c.Id, c.CalisanAdi, c.CalisanSoyadi })));
        let subeCalisanList = @Html.Raw(Json.Serialize(Model.SubeCalisanList.Select(sc => new { sc.SubeId, sc.CalisanId })));
        let gorevList = @Html.Raw(Json.Serialize(Model.GorevList.Select(g => new { g.Id, g.GorevAdi })));
        let gorevCalisanList = @Html.Raw(Json.Serialize(Model.GorevCalisanList.Select(bc => new { bc.GorevId, bc.CalisanId })));
        for (let i = 0; i < calisanList.length; i++) {
            calisanList[i]["gorevId"] = gorevCalisanList[i].gorevId;
        }
        let bolgeSubeList = @Html.Raw(Json.Serialize(Model.BolgeSubeList.Select(bs => new { bs.BolgeId, bs.SubeId })));
        let uyrukList = @Html.Raw(Json.Serialize(Model.UyrukList.Select(t => new {t.Alpha3Code,t.UlkeIsmi })));
        let otelList = @Html.Raw(Json.Serialize(Model.OtelList.Select(o => new { o.Id, o.OtelIsim, o.OtelMerkezeUzaklikMetre })));
        let bolgeList = @Html.Raw(Json.Serialize(Model.BolgeList.Select(bo => new { bo.Id, bo.BolgeIsim, bo.BolgeMerkezeUzaklikMetre })));
        let bolgeOtelList = @Html.Raw(Json.Serialize(Model.BolgeOtelList.Select(bo => new { bo.BolgeId, bo.OtelId })));
        let paraBirimiList = @Html.Raw(Json.Serialize(Model.ParaBirimiList.Select(p => new { p.Iso4217, p.ParaBirimiAdi })));
        let kurList = @Html.Raw(Json.Serialize(Model.KurList.Select(p => new { p.Tarih, p.ParaBirimiAdi, p.DolaraOran, p.EuroyaOran })));
        let biletList = @Html.Raw(Json.Serialize(Model.BiletList.Select(b => new { b.Id, b.TurId, b.YeniTurId, b.SatanSubeId, b.SatanElemanId, b.MusteriAd, b.MusteriSoyad, b.MusteriUyruk, b.MusteriBolgeId, b.MusteriOtelId, b.MusteriOdaNo, b.MusteriAdres, b.MusteriTelNo, b.FullSayi, b.HalfSayi, b.GuestSayi, b.ParaBirimi, b.Paid, b.Rest, b.OdendiMi, b.Aciklama, b.ServisIstiyorMu, b.ServisSaati, b.BiletIptalMi })));
        console.log("turList:", turList);
        console.log("turTipiList:", turTipiList);
        console.log("subeList:", subeList);
        console.log("calisanList:", calisanList);
        console.log("subeCalisanList:", subeCalisanList);
        console.log("gorevList:", gorevList);
        console.log("gorevCalisanList:", gorevCalisanList);
        console.log("calisanList:", calisanList);
        console.log("bolgeSubeList:", bolgeSubeList);
        console.log("uyrukList:", uyrukList);
        console.log("otelList:", otelList);
        console.log("bolgeList:", bolgeList);
        console.log("bolgeOtelList:", bolgeOtelList);
        console.log("paraBirimiList:", paraBirimiList);
        console.log("kurList:", kurList);
        console.log("biletList:", biletList);
        // #endregion
        updateSubeStuff();
        updateBolgeStuff();


        $('#SearchTicketButton').click(function () {
            // #region Filtre inputlarını al
            let musteriAd = document.getElementById("AdFiltre").value;
            let musteriSoyad = document.getElementById("SoyadFiltre").value;
            let turTarih = document.getElementById("TurTarihFiltre").value;
            let turBitti = document.getElementById("BittiFiltre").checked;
            let biletIptalMi = document.getElementById("IptalFiltre").checked;
            let secilenTelNo = document.getElementById("TelNoFiltre").value;
            let secilenUyrukId = document.getElementById("UyrukFiltre").value;
            let secilenBolgeId = document.getElementById("BolgeFiltre").value;
            let secilenOtelId = document.getElementById("OtelFiltre").value;
            let secilenParaBirimi = document.getElementById("ParaBirFiltre").value;
            let secilenSatanSubeId = document.getElementById("SatanSubFiltre").value;
            let secilenSatanElemanId = document.getElementById("SatanElFiltre").value;
            let secilenTurTipiId = document.getElementById("TurTipiFiltre").value;
            let musteriAdArray = musteriAd.toLowerCase().split(" ");
            let musteriSoyadArray = musteriSoyad.toLowerCase().split(" ");
            let logArray = {
                "musteriAd": musteriAd,
                "musteriSoyad": musteriSoyad,
                "turTarih": turTarih,
                "turBitti": turBitti,
                "biletIptalMi": biletIptalMi,
                "secilenTelNo": secilenTelNo,
                "secilenUyrukId": secilenUyrukId,
                "secilenBolgeId": secilenBolgeId,
                "secilenOtelId": secilenOtelId,
                "secilenParaBirimi": secilenParaBirimi,
                "secilenSatanSubeId": secilenSatanSubeId,
                "secilenSatanElemanId": secilenSatanElemanId,
                "secilenTurTipiId": secilenTurTipiId
            };
            console.log("Filtre Tercihleri:",logArray);
            // #endregion
            
            // Tabloyu Temizle
            let tableBody = document.querySelector("#TicketSearchTable tbody");
            tableBody.innerHTML = "";
            
            // #region Filtrele
            let biletSoyad = biletList.filter(b => musteriSoyadArray.every(ms => b.musteriSoyad.toLowerCase().includes(ms)));
            let biletAd = biletSoyad.filter(b => musteriAdArray.every(ma => b.musteriAd.toLowerCase().includes(ma)));
            let biletSube = biletAd.filter(b => secilenSatanSubeId === "" || b.satanSubeId === parseInt(secilenSatanSubeId));
            let biletEleman = biletSube.filter(b => secilenSatanElemanId === "" || b.satanElemanId === parseInt(secilenSatanElemanId));
            let biletTurTipi = biletEleman.filter(b => secilenTurTipiId === "" || turList.find(t => t.id === b.turId).turTipiId === parseInt(secilenTurTipiId));
            let biletTurTarih = biletTurTipi.filter(b => turTarih === "" || turList.find(t => t.id === b.turId).tarih === turTarih);
            let biletBitti = biletTurTarih.filter(b => turList.find(t => t.id === b.turId).bittiMi === turBitti);
            let biletIptal = biletBitti.filter(b => b.biletIptalMi === biletIptalMi);
            let biletBolge = biletIptal.filter(b => secilenBolgeId === "" || bolgeList.find(bo => bo.id === b.musteriBolgeId).id === parseInt(secilenBolgeId));
            let biletOtel
            if (secilenOtelId === "null") {
                biletOtel = biletBolge.filter(b => b.musteriOtelId === null);
            }
            else if (secilenOtelId === "") {
                biletOtel = biletBolge;
            }
            else {
                biletOtel = biletBolge.filter(b => b.musteriOtelId === secilenOtelId);
            }
            let biletParaBirimi = biletOtel.filter(b => secilenParaBirimi === "" || b.paraBirimi === secilenParaBirimi);
            let biletUyruk = biletParaBirimi.filter(b => secilenUyrukId === "" || b.musteriUyruk === secilenUyrukId);
            let biletTelNo = biletUyruk.filter(b => secilenTelNo === "" || b.musteriTelNo.startsWith(secilenTelNo));
            let logFiltreArrays = 
            {
                "biletSoyad": biletSoyad,
                "biletAd": biletAd,
                "biletSube": biletSube,
                "biletEleman": biletEleman,
                "biletTurTipi": biletTurTipi,
                "biletTurTarih": biletTurTarih,
                "biletBitti": biletBitti,
                "biletIptal": biletIptal,
                "biletBolge": biletBolge,
                "biletOtel": biletOtel,
                "biletParaBirimi": biletParaBirimi,
                "biletUyruk": biletUyruk,
                "biletTelNo": biletTelNo
            };
            console.log("Filtrelenmiş Biletler:", logFiltreArrays);

            // #endregion
            
            // Biletleri Tabloya Yaz
            let biletListFinal = biletTelNo;
            console.log("biletListFinal:", biletListFinal);
            for (let i = 0; i < biletListFinal.length; i++) {
                let bilet = biletListFinal[i];
                let row = document.createElement("tr");

                let selectedSube = subeList.find(s => s.id === bilet.satanSubeId);
                let satanSubeCell = document.createElement("td");
                satanSubeCell.textContent = selectedSube.subeAd;
                row.appendChild(satanSubeCell);

                let selectedCalisan = calisanList.find(c => c.id === bilet.satanElemanId);
                let satanElemanCell = document.createElement("td");
                satanElemanCell.textContent = selectedCalisan.calisanAdi + ' ' + selectedCalisan.calisanSoyadi;
                row.appendChild(satanElemanCell);

                let selectedTur = turList.find(t => t.id === bilet.turId);
                let turTarihCell = document.createElement("td");
                turTarihCell.textContent = selectedTur.tarih;
                row.appendChild(turTarihCell);

                let selectedTurTipi = turTipiList.find(tu => tu.id === selectedTur.turTipiId);
                let turTipiCell = document.createElement("td");
                turTipiCell.textContent = selectedTurTipi.turTipiAdi;
                row.appendChild(turTipiCell);

                let musteriAdSoyadCell = document.createElement("td");
                musteriAdSoyadCell.textContent = bilet.musteriAd + ' ' + bilet.musteriSoyad;
                row.appendChild(musteriAdSoyadCell);

                let selectedUyruk = uyrukList.find(u => u.alpha3Code === bilet.musteriUyruk);
                let uyrukCell = document.createElement("td");
                uyrukCell.textContent = selectedUyruk.ulkeIsmi;
                row.appendChild(uyrukCell);

                let telNoCell = document.createElement("td");
                telNoCell.textContent = bilet.musteriTelNo;
                row.appendChild(telNoCell);

                let selectedBolge = bolgeList.find(b => b.id === bilet.musteriBolgeId);
                let bolgeCell = document.createElement("td");
                bolgeCell.textContent = selectedBolge.bolgeIsim;
                row.appendChild(bolgeCell);

                if (bilet.musteriOtelId === null) {
                    let otelCell = document.createElement("td");
                    otelCell.textContent = "Otel Yok";
                    row.appendChild(otelCell);
                }
                else {
                    let selectedOtel = otelList.find(o => o.id === bilet.musteriOtelId);
                    let otelCell = document.createElement("td");
                    otelCell.textContent = selectedOtel.otelIsim;
                    row.appendChild(otelCell);
                }

                let fCell = document.createElement("td");
                fCell.textContent = bilet.fullSayi;
                row.appendChild(fCell);

                let hCell = document.createElement("td");
                hCell.textContent = bilet.halfSayi;
                row.appendChild(hCell);

                let gCell = document.createElement("td");
                gCell.textContent = bilet.guestSayi;
                row.appendChild(gCell);

                let selectedParaBirimi = paraBirimiList.find(p => p.iso4217 === bilet.paraBirimi);
                let paraBirimiCell = document.createElement("td");
                paraBirimiCell.textContent = selectedParaBirimi.paraBirimiAdi;
                row.appendChild(paraBirimiCell);

                let paidCell = document.createElement("td");
                paidCell.textContent = bilet.paid;
                row.appendChild(paidCell);

                let restCell = document.createElement("td");
                restCell.textContent = bilet.rest;
                row.appendChild(restCell);

                let odendiMiCell = document.createElement("td");
                odendiMiCell.textContent = bilet.odendiMi ? 'Evet' : 'Hayır';
                row.appendChild(odendiMiCell);

                let bittiMiCell = document.createElement("td");
                let selectedBiletTurId = bilet.turId;
                let selectedBiletTur = turList.find(t => t.id === selectedBiletTurId);
                bittiMiCell.textContent = selectedBiletTur.bittiMi ? 'Evet' : 'Hayır';
                row.appendChild(bittiMiCell);

                let iptalMiCell = document.createElement("td");
                iptalMiCell.textContent = bilet.biletIptalMi ? 'Evet' : 'Hayır';
                row.appendChild(iptalMiCell);

                let editCell = document.createElement("td");
                let editButton = document.createElement("button");
                editButton.id = "EditButton" + bilet.id;
                editButton.textContent = "Düzenle";
                editButton.addEventListener("click", function (biletObject) {
                    let biletObjectTurTarih = turList.find(t => t.id === biletObject.turId).tarih;
                    let today = new Date();
                    let biletObjectTurTarihDate = new Date(biletObjectTurTarih);
                    let dayDifference = Math.floor((today - biletObjectTurTarihDate) / (1000 * 60 * 60 * 24));
                    return function () {
                        console.log("Day Difference:", dayDifference);
                        console.log("Edit Button Clicked:", biletObject);
                        if (dayDifference > 0) {
                            alert("Bu bilet düzenlenemez. Tur tarihi geçmiştir.");
                            return;
                        }
                        else{
                            if (biletObject.yeniTurId === null) {
                                biletObject.yeniTurId = "null";
                            }
                            if (biletObject.musteriOtelId === null) {
                                biletObject.musteriOtelId = "null";
                            }
                            if (biletObject.musteriOdaNo === null) {
                                biletObject.musteriOdaNo = "null";
                            }
                            if (biletObject.musteriAdres === null) {
                                biletObject.musteriAdres = "null";
                            }
                            if (biletObject.aciklama === null) {
                                biletObject.aciklama = "null";
                            }
                            if (biletObject.servisSaati === null) {
                                biletObject.servisSaati = "null";
                            }
                            let biletToSend = [
                                biletObject.id.toString(),
                                biletObject.turId.toString(),
                                biletObject.yeniTurId.toString(),
                                biletObject.satanSubeId.toString(),
                                biletObject.satanElemanId.toString(),
                                biletObject.musteriAd,
                                biletObject.musteriSoyad,
                                biletObject.musteriUyruk,
                                biletObject.musteriBolgeId.toString(),
                                biletObject.musteriOtelId.toString(),
                                biletObject.musteriOdaNo,
                                biletObject.musteriAdres,
                                biletObject.musteriTelNo,
                                biletObject.fullSayi.toString(),
                                biletObject.halfSayi.toString(),
                                biletObject.guestSayi.toString(),
                                biletObject.paraBirimi,
                                biletObject.paid.toString(),
                                biletObject.rest.toString(),
                                biletObject.odendiMi.toString(),
                                biletObject.aciklama,
                                biletObject.servisIstiyorMu.toString(),
                                biletObject.servisSaati.toString(),
                                biletObject.biletIptalMi.toString()
                            ];
                            console.log("biletToSend:",biletToSend);
                            sendArrayToController(biletToSend);
                        }

                    };
                }(bilet));
                editCell.appendChild(editButton);
                row.appendChild(editCell);

                tableBody.appendChild(row);
            }
            
        });

        // Satan şube filtresi değişirse:
        $('#SatanSubFiltre').change(function () {
            updateSubeStuff();
        });

        // Bölge filtresi değişirse:
        $('#BolgeFiltre').change(function () {
            updateBolgeStuff();
        });

        function updateSubeStuff() {
            if ("@userGorev" === "Admin") {
                //Seçilen şubeyi güncelle ve int yap.
                let selectedSubeIdStr = $('#SatanSubFiltre').val();
                let selectedSubeId = parseInt(selectedSubeIdStr) || 0;

                let selectedSubeCalisan
                if (selectedSubeId === 0) {
                    selectedSubeCalisan = subeCalisanList;
                }
                else {
                    //Seçilen Şubeden çalışanları bul
                    selectedSubeCalisan = subeCalisanList.filter(sc => sc.subeId === selectedSubeId);
                }

                //Çalışan ID'leri ile çalışan listesini filtrele
                let selectedCalisan = calisanList.filter(c => selectedSubeCalisan.some(sc => sc.calisanId === c.id));

                let selectedTicketCalisan = selectedCalisan.filter(c => c.gorevId === 2);

                //Çalışan Listesini Sil Ve Güncelle
                let selectElementCalisan = document.getElementById("SatanElFiltre");
                selectElementCalisan.innerHTML = "";
                let option;
                option = document.createElement('option');
                option.value = "";
                option.text = "Filtre Yok";
                selectElementCalisan.appendChild(option);
                for (let i = 0; i < selectedTicketCalisan.length; i++) {
                    option = document.createElement('option');
                    option.value = selectedTicketCalisan[i].id;
                    option.text = selectedTicketCalisan[i].calisanAdi + " " + selectedTicketCalisan[i].calisanSoyadi;
                    selectElementCalisan.appendChild(option);
                }
            }
        }

        function updateBolgeStuff() {
            //Seçilen bölgeyi güncelle ve int yap.
            let selectedBolgeIdStr = $('#BolgeFiltre').val();
            let selectedBolgeId = parseInt(selectedBolgeIdStr) || 0;

            let selectedBolgeOteller
            if (selectedBolgeId === 0) {
                selectedBolgeOteller = bolgeOtelList;
            }
            else {
                //Seçilen Bölgeden otelleri bul
                selectedBolgeOteller = bolgeOtelList.filter(bo => bo.bolgeId === selectedBolgeId);
            }

            //Otel ID'leri ile otel listesini filtrele
            let selectedOteller = otelList.filter(o => selectedBolgeOteller.some(bo => bo.otelId === o.id));

            //Otel Listesini Sil Ve Güncelle
            let selectElementOtel = document.getElementById("OtelFiltre");
            selectElementOtel.innerHTML = "";
            let option;
            option = document.createElement('option');
            option.value = "";
            option.text = "Filtre Yok";
            selectElementOtel.appendChild(option);
            option = document.createElement('option');
            option.value = null;
            option.text = "Otel Yok";
            selectElementOtel.appendChild(option);
            for (let i = 0; i < selectedOteller.length; i++) {
                option = document.createElement('option');
                option.value = selectedOteller[i].id;
                option.text = selectedOteller[i].otelIsim;
                selectElementOtel.appendChild(option);
            }
        }

    });

    function sendArrayToController(array) {
        $.ajax({
            type: "POST",
            url: "/Home/TicketToUpdate",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(array),
            success: function (response) {
                console.log("Data sent successfully:", response);
                if (response.redirectUrl) {
                    window.location.href = response.redirectUrl;
                }
            },
            error: function (error) {
                console.error("Error sending data:", error);
            }
        });
    }
</script>